<%-include("include/header")%>
<div class="container">
	  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Passport App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item nav-right">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<h1>Members Area</h1>
<p class="lead">Welcome <%=user.name%></p>
</div>
<%-include("include/footer")%>